# File-based project format
*.iws

# Eclipse
/.settings/

# VS Code
/.vscode/

# IntelliJ
out/
/.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Maven
log/

# Build Artefakte ignorieren
/target/

# Ignoriere DB-Krams, den wir nicht versionieren brauchen (alles außer der .script)
/db/*.tmp
/db/*.lck
/db/*.log
/db/*.properties

# Generierte Dateien von VSCode-Java..?
/.project
/.classpath
/bin/

# SonarLint / Sonar Scanner
/.scannerwork/