# File-based project format
*.iws

# Eclipse
/.settings/

# VS Code
/.vscode/

# IntelliJ
out/
/.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Maven
log/

# Build Artefakte ignorieren
/target/

# Wir wollen die DB nicht versionieren
/db/

# Generierte Dateien von VSCode-Java..?
/.project
/.classpath
/bin/

# SonarLint / Sonar Scanner
/.scannerwork/